# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
*.egg-info/
dist/
build/

# IDE & OS
.idea/
.vscode/
*.swp
*~
.DS_Store

# Configs & Secrets
.env
.env.*
!.env.example

# Test & CI
tests/
reports/
coverage.xml
pyproject.toml
requirements-dev.txt
compose.yaml
ci.yml
.pre-commit-config.yaml
