name: CI

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_and_lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r requirements-dev.txt

      - name: Lint & Format
        run: |
          ruff check --output-format=github .
          black --check .
          isort --check-only .

      - name: Run Python tests
        run: pytest -q

  build_and_scan_docker_image:
    needs: test_and_lint
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Hadolint для Dockerfile
      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile
          ignore: DL3008

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # сборка docker образа
      - name: Build Docker image
        id: build
        uses: docker/build-push-action@v5
        with:
          context: .
          dockerfile: Dockerfile
          load: true
          tags: time-tracker-app:ci-${{ github.sha }}

      # cканирование образа на уязвимости с помощью Trivy
      - name: Scan image with Trivy
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: 'time-tracker-app:ci-${{ github.sha }}'
          # таблица в лог и SARIF-файл для отчета
          format: 'table'
          sarif-ref: 'trivy-results.sarif'
          # пайплайн упадет, если найдены уязвимости HIGH или CRITICAL
          severity: 'HIGH,CRITICAL'
          exit-code: '1'
          ignorefile: '.trivyignore'

      # загрузка отчета Trivy в GitHub Security Tab
      - name: Upload Trivy scan results to GitHub Security
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'
          category: trivy

      # загрузка отчета Trivy как артефакта сборки
      - name: Upload Trivy report as artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: trivy-results.sarif
  
